
<ul>
<!--  -->
<section id="" class="book-container book-detail">

  <img src=<%= book.image_url %> alt=Cover for <%= book.title %> />
  <h2>
    <%= book.title %>
    <% if (book.subtitle){ %>:<%=book.subtitle %> 
      <%} %>
  </h2>

  <h3><%= book.author %></h3>
  <!-- you can class these for hiding -->
  <p class="hide"><%= book.description %></p>
  <p><%= book.isbn %></p>
  <p>
    <% if (book.bookshelf) {%>
      Bookshelf: <%= book.bookshelf %>
      <%} %>
  </p>
</section>


