<!-- books/show -->
<!-- view a single book in-depth from DB -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <header>
    <%- include('../../layout/header') %>
  </header>
  <main>
    <!-- subnav -->
    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="searches/new">Search</a>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
    <!-- end subnav -->

    <!-- begin book template -->

    <h1>Book Details</h1>
    <ul>
      <div>
        <li>
          <%- include('detail', {book:book}) %>
        </li>

        <!-- end base book rendering -->
        <!-- begin button option -->
        <button type="submit">Delete Book</button>
        <button type="button" name="<%= book.isbn%>"  class="showhidden">Update Details</button>
        
        <!-- end buttons -->
        <!-- begin form -->
        <%- include('form', {formAction: 'update', book:book})%>
      </div>
      <% }); %>
     
    </ul>
  </main>
  <footer>
    <%- include('../../layout/footer') %>
  </footer>
</body>

</html>