<!-- pages/searches/show  -->
<!-- New search for 10 books -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <header>
    <%- include('../../layout/header') %>
  </header>
  <main>
    <!-- subnav -->
    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="/searches/new">Search</a>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
    <!-- end subnav -->

    <!-- search results/books templating starts -->

    <h1>Search Results</h1>
    <h3><%= books.length %> Book Results</h3>
    <ul>


      <% books.forEach(book=>{ %>
      <div>

        <li data-book-id="<%= book.isbn %>">
          <%- include('../books/detail', {book: book})%>
        </li>

        <!-- end book -->
        <!-- select button -->

        <button class="select-btn">Choose Book</button>

        <!-- end button -->
        <!-- start form -->
        
        <%- include('../books/form', {book:book})%>

      </div>
      <% }) %>
    </ul>

    <!-- end of search results -->

  </main>
  <footer>
    <%- include('../../layout/footer') %>
  </footer>


</body>

</html>