<!-- pages/searches/show  -->

<!-- New search for 10 books -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  <header>
    <%- include('../../layout/header') %>
  </header>
  <main>


    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="/searches/new">Search</a>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
    <ul>
      <% books.forEach(book => { %>
      <div>
        <li>
          <%- include('../books/detail', {book:book}) %>
        </li>

        <!-- end base book rendering -->
        <!-- begin button option -->
        <button type="submit">Delete Book</button>
        <button type="button" name="<%= books.isbn%>" class="showhidden">Update Details</button>

        <!-- end buttons -->
        <!-- begin form -->
        <%- include('../books/form', {formAction: 'update', book:book})%>
      </div>
      <% }); %>



    </ul>
  </main>
  <footer>
    <%- include('../../layout/footer') %>
  </footer>


</body>

</html>