<!-- index -->
<!-- books from DB -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <!-- subnav -->
    <ul class="subnav">
      <li>
        <i class="fas fa-search"></i>
        <a href="/searches/new">Search</a>
      </li>
      <li>
        <i class="fas fa-book-open"></i>
        <a href="/">Shelf</a>
      </li>
    </ul>
    <!-- end subnav -->

    <!-- begin book templating -->

    <h1><%= books.length %> Saved Books</h1>
    <ul>
      <% books.forEach(book => { %>
      <div>

        <li class="book-items" data-book-id="<%=book.id%>">
          <%- include('books/detail',{book:book})%>
        </li>

     
        <!-- begin option variation -->

        <!-- <button><a href="/books/<%= book.id %>">Details</a></button> -->

        <!-- end option variation -->
        <!-- begin form templating -->
        
        <%- include('books/form', {formAction: 'update', book:book})%>

        <button type="button" onclick="location.href='/books/<%= book.id %>';">View Details</button>

      </div>
      <% }); %>

    </ul>
  </main>
  <footer>
    <%- include('../layout/footer') %>
  </footer>
</body>

</html>